# define the path of your web application, relative to the current folder
WWW_ROOT=../data

# set timezone
TZ=Europe/Berlin

# e.g. fewohbee or mydomain.tld
HOST_NAME=fewohbee  

# mysql settings
MARIADB_ROOT_PASSWORD=<pw>
MARIADB_USER=fewohbee
MARIADB_PASSWORD=<pw>
MARIADB_DATABASE=fewohbee
# this user is used to perform backups
MYSQL_BACKUP_USER=backupuser
MYSQL_BACKUP_PASSWORD=<backuppassword>

MYSQL_BACKUP_FOLDER=../dbbackup

# letsencrypt settings
LETSENCRYPT=false
EMAIL="<your mail address>"
# enter here all (sub-)domains which should be included in the certificate, sepearated with a whitespace e.g.: domain.tld sub1.domain.tld
LETSENCRYPT_DOMAINS="<domain.tld>"
# if used specify your dyndns provider, currently "desec.io" is supported
# leave empty if not used
DYNDNS_PROVIDER=
# Place your dedyn.io access token here:
DEDYN_TOKEN="<token>"
# Set your dedyn.io domain name here:
DEDYN_NAME="<name>"

# self signed certificate settings
SELF_SIGNED=true

# reverse proxy settings (docker-compose.no-ssl.yml)
# Port exposed by the web container when using docker-compose.no-ssl.yml
LISTEN_PORT=80

# For FewohBee application settings see .env.app.dist / .env.app
