services:
    web:
        image: nginx:mainline-alpine
        ports:
            - 80:80
            - 443:443
        volumes:
            - feb-data:/var/www/html:cached
            - ./conf/nginx/:/etc/nginx/conf.d/
            - certs-vol:/certs:ro
        environment:
            - HOST_NAME=${HOST_NAME}
        command: /bin/sh -c "envsubst < /etc/nginx/conf.d/templates/server_name.template > /etc/nginx/conf.d/server_name.active && nginx -g 'daemon off;'"
        networks:
            - internal-network
        restart: always

    php:
        image: developeregrem/fewohbee-phpfpm:latest
        volumes:
            - feb-data:/var/www/html:cached
            - ./conf/php/conf.ini:/usr/local/etc/php/conf.d/conf.ini
            - ${WWW_ROOT}:/var/www/data:cached
        networks:
            - internal-network
        environment:
            - TZ=${TZ}
            - LOCALE=${LOCALE}
            - FEWOHBEE_VERSION=${FEWOHBEE_VERSION:-latest}
            - APP_ENV=${APP_ENV}
            - APP_SECRET=${APP_SECRET}
            - DATABASE_URL=${DATABASE_URL}
            - FROM_MAIL=${FROM_MAIL}
            - FROM_NAME=${FROM_NAME}
            - RETURN_PATH=${RETURN_PATH}
            - MAILER_DSN=${MAILER_DSN:-null://localhost}
            - DB_SERVER_VERSION=12.1.2-MariaDB
            - WEB_HOST=${WEB_HOST}
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_IDX=${REDIS_IDX}
            - USE_PASSWORD_BLACKLIST=${USE_PASSWORD_BLACKLIST}
            - CUSTOMER_SALUTATIONS=${CUSTOMER_SALUTATIONS}
            - RELYING_PARTY_ID=${RELYING_PARTY_ID}
            - RELYING_PARTY_NAME=${RELYING_PARTY_NAME}
            - PASSKEY_ENABLED=${PASSKEY_ENABLED}
        restart: always

    db:
        image: mariadb:12.1
        restart: always
        volumes:
             - db-vol:/var/lib/mysql:cached
             - ${MYSQL_BACKUP_FOLDER}:/dbbackup:cached
             - ./data/db:/db
        environment:
            MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
            MARIADB_USER: ${MARIADB_USER}
            MARIADB_PASSWORD: ${MARIADB_PASSWORD}
            MARIADB_DATABASE: ${MARIADB_DATABASE}
            MYSQL_BACKUP_PASSWORD: ${MYSQL_BACKUP_PASSWORD}
            MYSQL_BACKUP_USER: ${MYSQL_BACKUP_USER}
        networks:
            - internal-network
    
    redis:
        image: redis:alpine
        restart: always
        volumes:
             - redis-vol:/data/
        networks:
            - internal-network
    
    acme:
        image: developeregrem/fewohbee-acme:latest
        volumes:
            - certs-vol:/certs
            - /var/run/docker.sock:/var/run/docker.sock
            - feb-data:/var/www:cached
        restart: always
        entrypoint: ""
        environment:
            - HOST_NAME=${HOST_NAME}    # used for self signed certificate
            - LETSENCRYPT_DOMAINS=${LETSENCRYPT_DOMAINS}
            - EMAIL=${EMAIL}
            - SELF_SIGNED=${SELF_SIGNED}
            - LETSENCRYPT=${LETSENCRYPT}
            - TZ=${TZ}
            - DOCKER_API_VERSION=${DOCKER_API_VERSION}
            - DYNDNS_PROVIDER=${DYNDNS_PROVIDER}
            - DEDYN_TOKEN=${DEDYN_TOKEN}
            - DEDYN_NAME=${DEDYN_NAME}
        networks:
            - internal-network
    
networks:
    internal-network:
        driver: bridge
        
volumes:
    redis-vol:
    certs-vol:
    db-vol:
    feb-data:
    
